.footer-layout {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 25px;

  background-color: #155fbf;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  margin: 0 auto;
  color: #cfd7df;
  height: 100%;
  text-align: center;
}

.icon {
  color: #cfd7df;
}

.icon:hover {
  color: #bf7515;
}
