@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  
  background: linear-gradient(to bottom, #155fbf, #b0bac2);
}

.content-wrap {
  margin-bottom: -40px;
  margin: 0;
  /* background-color: #3f3f3f; */
  position: relative;
  min-height: 100vh;
  border-style: solid;
  /* border-color: #b0bac2; */
  border-width: 0.05px;
  
}

.mycont {
  border-style: dotted;
  border-color: red;
  border-width: 3px;
}

.myrow {
  border-style: dotted;
  border-color: green;
  border-width: 3px;
}

/* .new-btn {
  font-size: larger;
  background-color: purple;
} */
